<p id="notice"><%= notice %></p>

<h1>Lectures</h1>

<table>
  <thead>
    <tr>
      <th>Content</th>
      <th>Attachment</th>
      <th>Course</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @lectures.each do |lecture| %>
      <tr>
        <td><%= raw(lecture.content) %></td>
        <td><%= link_to "Download file", lecture.attachment_url %></td>       
        <td><%= lecture.course.title %></td>
        <td><%= link_to 'Show',  lecture %></td>
        <% if((current_user) && (current_user.id == lecture.user_id)) %>
        <td><%= link_to 'Edit',  edit_course_lecture_path(lecture.course , lecture) %></td>
        <td><%= link_to 'Destroy', [lecture.course , lecture] , method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if((current_user)) %>
  <%= link_to 'New Lecture', new_course_lecture_path %>
<% end %>
