<p id="notice"><%= notice %></p>

<h1>Comments</h1>

<table>
  <thead>
    <tr>
      <th>Text</th>
      <th>Lecture</th>
      <th>User</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @comments.each do |comment| %>
      <tr>
        <td><%= comment.text %></td>
        <td><%= comment.lecture_id %></td>
        <td><%= User.find(comment.user_id).name %></td>
        <% if((current_user) && (current_user.id == comment.user_id)) %>
        <td><%= link_to 'Edit',  edit_lecture_comment_path(comment.lecture , comment) %></td>
        <td><%= link_to 'Destroy', [comment.lecture , comment] , method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if((current_user)) %>
<%= link_to 'New Comment', new_lecture_comment_path %>
<% end %>