<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @course.title %>
</p>
<p>
	<%= link_to "Lectures", course_lectures_path(course_id: @course.id) %>
</p>
<% if((current_user) && (current_user.id == @course.user_id)) %>
<%= link_to 'Edit', edit_course_path(@course) %> | 
<% end %> 
<%= link_to 'Back', courses_path %>
